<link rel="stylesheet" href= "/css/cart.css">

<div class="encabezado">
    <h1>Carrito</h1>
    <h2>Lista de Productos</h2>
    <div id="productContainer"></div>
    <button id="btnConfirm" class="btnConfirm" type="submit" onclick="finalizarCompra()">Finalizar compra</button>
</div>

<script src="/js/cart.js"></script>