<h1>Restablecer contraseña</h1>

<form action="" id="formRecover">
  <div>
        <label for="input_email2">Email</label>
        <input type="text" name="email" placeholder="email" id="input_email2">
    </div>
    <div>
        <label for="input_password2">Password</label>
        <input type="password" name="password" placeholder="Password" id="input_password2">
    </div>
  <button type="submit">Enviar</button>
</form>

<script src="/js/recover.js"></script>