<link rel="stylesheet" href= "/css/formulario.css">

<div class="formulario">
    <h3 class="h3">Te enviaremos un correo electrónico para restablecer tu contraseña</h3>
    <form action="" id="formMailing">
        <div class="mb-3">
            <label class="form-label" for="input_email">Email</label>
            <input class='formImput' type="text" name='email' id="input_email" >
        </div>
        <Button type='submit' variant="outline-dark" class="btnConfirm">Enviar</Button>
    </form>
</div>

<script src="/js/recoverMailing.js"></script>